@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-light">
    <div class="col-12 text-center">
        <div class="container">
            <h1>Got a question?</h1><br />
            <h1>Ask it here.</h1>

            <ul class="bullets text-light">
                <li>- Have all your questions answered</li>
                <li>- Ask anonymously</li>
                <li>- No spam or ads, 100% privacy</li>
            </ul>
            <a class="nav-link text-light" asp-controller="Question" asp-action="Create">
                <div class="w-300 btn btn-danger">Start Now!</div>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row text-center">
    <div class="col-12">
        <h1 class="text-light">How does it work?</h1><br />
        <div class="container bg-light">
            <h3>
            We focus on one thing and one thing only...
            <br />
            Helping our users to engage with their world.
            <br />
            With the launch of our new Q&A platform, we are not just looking for feedback on our work
            <br />
            but also looking forward to engaging with people from around the world on meaningful
            <br />
            discussions in the near future.
            </h3>
        </div>
    </div>
</div>
